*{
  overflow: hidden;
  box-sizing: border-box;
}
body{
color: white;
margin:0;
    height: 100%;
background-color: #4e73df;
margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items:center;
}
  .container{
    width: 100%;
    min-height: 100vh;
margin-top: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

/*background-color:  rgba(242 ,147 ,245,0.8) ;*/
display:flex;
flex-flow: row wrap;
justify-content: center;
align-items:center;

  }
  .card{
    margin-top: 25px;
  display: flex;
  flex-flow: row ;
  justify-content: flex-end;
  flex: 0 0 83.33333%;
    max-width: 83.33333%;
  /*width: 83%;*/
 height:500px;
  /*box-shadow: 0px 0px 80px 40px rgba(0,0,0,0.26);
  /*border: 2px solid ;*/
  /*border-radius:8px;*/
  margin-bottom: 60px;
  border-color: #4e73df;
/*perspective:1000px;
   background-color:#23049d;
  background-image:url("login.jpg");
  /*  background-size: 560px,850px;*/  }
  .inner-box1{
    background-color: #fff;
  position:relative;
    width:100%;
    height:100%;
    order:2;
margin-left: auto;
margin-right: auto;
padding-right: 0.75rem;
/*border:1px solid ;*/

  border-radius:15px ;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:center;

  }
  .inner-box2{
display:none;
    width:50%;
    height:100%;
    background-image: url("loginEservice.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    order: 1;

    padding-right: .75rem;
        padding-left: .75rem;
  border-radius: 15px ;


  }

  .card-front {
position:absolute;
width:80%;
height:100%;
background-color: #fff;

padding: 40px;
box-sizing: border-box;
overflow: hidden;
color:#3A4150;

  }

  .card  h2 {

font-weight:none;
font-size:20px;
text-align:center;
margin-bottom:20px;

  }
  .input-box
  {
width:100%;
height:50px;
color:#3A4150;
background:transparent;
text-align:center;
padding:0 10px;
margin:6px 0;
border: 1px solid #3A4150;
border-radius: 20px;
box-sizing: border-box;
outline:none;


font-size:15px;
  }
::placeholder{

font-size: 12px;
font-family:  Arial;
}
button{
width:100%;
height:50px;
background:#4E73DF;
opacity: 0.8;
padding:0 10px;
margin:35px 0  10px;
border: 1px solid   #4e73df;
border-radius: 20px;
box-sizing: border-box;
outline:none;
font-size:12px;
cursor:pointer;
color:#fff;
}

button:hover{
opacity:1.5;

}
span{
font-size:16px;
margin-left: 10px
}
.card .btn {
margin-top:30px;
}
.card a{
font-size:13px;
text-align:center;
text-decoration:none;
margin-top:5px;
display:block;


}




  @media (min-width: 576px){
    .container{
        max-width: 540px;}

    }
  @media (min-width: 768px){
      .container {
      max-width: 720px;}
  }


    @media (min-width: 992px){
    .container {
        max-width: 960px;}
        .inner-box1{
        position:relative;
          width:50%;
          height:100%;
          margin:20 ;
        border-radius: 0 10px 10px 0px;
          }
          .inner-box2{

            width:50%;
            height:100%;
            display: block;
            border-radius: 10px 0 0 10px;
          }
    }
    @media (min-width: 1200px){
    .container {
        max-width: 1140px;}
        .inner-box1{
        position:relative;
          width:50%;
          height:100%;
          margin:20 ;
        border-radius:  0 15px 15px 0px;
          }
          .inner-box2{

            width:50%;
            height:100%;
            display: block;
            border-radius: 15px  0 0  15px;
          }
    }
